<div class="form-section-card">
  <p class="imp">Unique Property Identication code (UPIC) available? (A 15 digit aplhanumberic code issued by MCD)</p>
  <input type="radio" name="select" value="yes" id="">yes 
  <input type="radio" name="select" value="no" id="">no
  <div class="section-header">
    <span>
      ADDRESS<br><br>(For Communication)
    </span>
  </div>
  <div [formGroup]="group" class="address-fields">
      <div class="form-row">
      <div class="form-group">
        <label for="property">Property *</label>
        <select id="property" formControlName="property" class="form-control">
          <option value="" disabled>-Select-</option>
          <option value="Address 1">Address 1</option>
          <option value="Address 2">Address 2</option>
          <option value="Address 3">Address 3</option>
          <option value="Address 4">Address 4</option>
        </select>
        <div class="error-message" *ngIf="group.get('property')?.invalid && group.get('property')?.touched">
          This field is required.
        </div>
      </div>
      <div class="form-group">
        <label for="khasraNo">Khasra No. *</label>
        <input id="khasraNo" type="text" formControlName="KhasraNo" class="form-control" placeholder="Khasra No.">
        <div class="error-message" *ngIf="group.get('KhasraNo')?.invalid && group.get('KhasraNo')?.touched">
          This field is required.
        </div>
      </div>
      <div class="form-group">
        <label for="blockNo">Block No. *</label>
        <input id="blockNo" type="text" formControlName="BlockNo" class="form-control" placeholder="Block No.">
        <div class="error-message" *ngIf="group.get('BlockNo')?.invalid && group.get('BlockNo')?.touched">
          This field is required.
        </div>
      </div>
      <div class="form-group">
        <label for="floor">Floor *</label>
        <select id="floor" formControlName="floor" class="form-control">
          <option value="" disabled>-Select-</option>
          <option value="1">1</option>
          <option value="2">2</option>
          <option value="3">3</option>
          <option value="4">4</option>
        </select>
        <div class="error-message" *ngIf="group.get('floor')?.invalid && group.get('floor')?.touched">
          This field is required.
        </div>
      </div>
    </div>

    <!-- Row 2 -->
    <div class="form-row">
      <div class="form-group">
        <label for="premise">Premise *</label>
        <select id="premise" formControlName="premise" class="form-control">
          <option value="" disabled>-Select-</option>
          <option value="premise_1">1</option>
          <option value="premise_2">2</option>
          <option value="premise_3">3</option>
          <option value="premise_4">4</option>
        </select>
        <div class="error-message" *ngIf="group.get('premise')?.invalid && group.get('premise')?.touched">
          Premise is required.
        </div>
      </div>
      <div class="form-group" style="flex:2">
        <label for="other_detail">Sector/Phase/Mohalla/Building Name/Other details *</label>
        <input id="other_detail" formControlName="other_detail" type="text" class="form-control"
          placeholder="Sector/Phase/Mohalla/Building Name/Other details">
        <div class="error-message" *ngIf="group.get('other_detail')?.invalid && group.get('other_detail')?.touched">
          This field is required.
        </div>
      </div>
      <div class="form-group">
        <label for="street">Street</label>
        <input id="street" formControlName="street" type="text" class="form-control" placeholder="Street">
        <div class="error-message" *ngIf="group.get('street')?.invalid && group.get('street')?.touched">
          This field is required.
        </div>
      </div>
    </div>
    <div class="form-row">
      <div class="form-group">
        <label for="Area">Area *</label>
        <input id="Area" type="text" formControlName="Area" class="form-control" placeholder="Area">
        <div class="error-message" *ngIf="group.get('Area')?.invalid && group.get('Area')?.touched">
          This field is required.
        </div>
      </div>
      <div class="form-group">
        <label for="Landmark">Landmark *</label>
        <select id="Landmark" formControlName="Landmark" class="form-control">
          <option value="" disabled>-Select-</option>
          <option value="Landmark_1">1</option>
          <option value="Landmark_2">2</option>
          <option value="Landmark_3">3</option>
          <option value="Landmark_4">4</option>
        </select>
        <div class="error-message" *ngIf="group.get('Landmark')?.invalid && group.get('Landmark')?.touched">
          This field is required.
        </div>
      </div>
            <div class="form-group">
        <label for="Landmark_Details">Landmark Details *</label>
        <input id="Landmark_Details" type="text" formControlName="Landmark_Details" class="form-control" placeholder="Landmark Details">
        <div class="error-message" *ngIf="group.get('Landmark_Details')?.invalid && group.get('Landmark_Details')?.touched">
          This field is required.
        </div>
      </div>  
      <div class="form-group">
        <label for="City_Postal_Code">City Postal Code *</label>
        <input id="City_Postal_Code" type="text" formControlName="City_Postal_Code" class="form-control" placeholder="City Postal Code">
        <div class="error-message" *ngIf="group.get('City_Postal_Code')?.invalid && group.get('City_Postal_Code')?.touched">
          This field is required.
        </div>
      </div>
    </div>
  </div>
</div>
